In [1]:
s=''' The teams were playing their final match of the "1976â€“77" 
season in the Football League First Division, at Highfield Road (pictured), Coventry.
Both teams faced potential relegation, along with Sunderland, who played their final game '''

In [2]:
s.find("Football")

74

# REGEX

In [3]:
import re

In [4]:
text= "rain in spain"
re.findall("ai", text)

['ai', 'ai']

In [5]:
s= '''I am john my contact is 12345678909 you can contact me on this'''

In [6]:
# TO find all the digits in s
re.findall("\d{10}", s)

['1234567890']

In [7]:
s1='''I am john my contact is (123)-456-7890 you can contact me on this'''

In [8]:
# to extract digits with brackets
re.findall("\(\d{3}\)-\d{3}-\d{4}",s1)

['(123)-456-7890']

In [9]:
s2 = ''' abc123@gmail.com'''

In [10]:
re.findall("\w+\W\w+\W\w+",s2)

['abc123@gmail.com']

In [11]:
s3='''email is abc123@gmail.com'''

In [12]:
re.findall("\w+\W\w+\W\w+\W\w+\W\w+",s3)

['email is abc123@gmail.com']

In [13]:
s4= '''Note 1 - Overview 
Tesla, Inc("Tesla",the "Company", "we","us" or "out") 
was incorporated in the state of Delaware on july 1, 2003. We design, develop'''

In [14]:
# To find "Note 1 - overview"
re.findall("/Note \d+ \W([^\n]+)",s4)

[]

In [15]:
s5='''abc's comapny generated $50 million profite in FY2023 Q1 while year it was $222 billion in FY2022 Q3'''

In [16]:
# TO get financial year
re.findall("FY\d{4} Q\d{1,4}",s5)

['FY2023 Q1', 'FY2022 Q3']

In [17]:
re.findall("\W\d+ \w+",s5)

['$50 million', '$222 billion']

# SPACY

In [18]:
#!pip install spacy

In [19]:
#!python -m spacy download en_core_web_sm

In [20]:
import spacy
nlp = spacy.load("en_core_web_sm")

In [21]:
s='''Nigerian psychological Mr.thriller film written by Tunde Babalola.
produced and directed by Kunle Afolayan (pictured), and starring Sadiq Daba.
Kayode Olaiya, and Demola Adedoyin. In the film, Inspector Danladi Waziri '''

In [22]:
# NOrmal split to to split sentence from "."
# But it splits everything after the dot.
s.split(".")

['Nigerian psychological Mr',
 'thriller film written by Tunde Babalola',
 '\nproduced and directed by Kunle Afolayan (pictured), and starring Sadiq Daba',
 '\nKayode Olaiya, and Demola Adedoyin',
 ' In the film, Inspector Danladi Waziri ']

In [23]:
s= '''Dr.john have a degree in ABC. He us also work in laptop company'''

In [24]:
# directly use spacy on variable
doc=nlp(s)

In [25]:
# used to find the sentence in the given variable
doc.sents

In [26]:
# to extarxt the sentence we have to use for loop.
# TO extact whole sentence
for i in doc.sents:
    print(i)

Dr.john have a degree in ABC.
He us also work in laptop company

In [27]:
type(i)

spacy.tokens.span.Span

In [28]:
# To extract single words from the sentence
for i in doc.sents:
    for word in i:
        print(word)

Dr.john
have
a
degree
in
ABC
.
He
us
also
work
in
laptop
company

In [29]:
type(doc)

spacy.tokens.doc.Doc

# NLTK

In [30]:
#!pip install NLTK

In [31]:
import nltk

In [32]:
#nltk.download('punkt')

In [33]:
from nltk.tokenize import sent_tokenize

In [34]:
sent_tokenize(s)

['Dr.john have a degree in ABC.', 'He us also work in laptop company']

In [35]:
type(sent_tokenize(s))

list

In [36]:
from nltk.tokenize import word_tokenize

In [37]:
word_tokenize(s)

['Dr.john',
 'have',
 'a',
 'degree',
 'in',
 'ABC',
 '.',
 'He',
 'us',
 'also',
 'work',
 'in',
 'laptop',
 'company']

In [38]:
s='''Ms. Rani loves pizza and it cost $2 per slice'''

In [39]:
doc= nlp(s)

In [40]:
for token in doc:
    print(token)

Ms.
Rani
loves
pizza
and
it
cost
$
2
per
slice

In [41]:
token1= doc[7]

In [42]:
# TO check which type of word is this.
token1.is_alpha

False

In [43]:
token1.is_currency

True

In [44]:
# To find with which word does the sentence ends
for i in doc.sents:
    for word in i:
        if word.is_sent_end == True:
            print(word)

slice

In [45]:
# To find with which word does the sentence starts
for i in doc.sents:
    for word in i:
        if word.is_sent_start == True:
            print(word)

Ms.

In [46]:
# Etract all the email from this list.
s= """Modern High School, 8th Grade student information

==============================================

Name    Birthday email

------ ------ --------
Virat 5ht June, 1882 virat@kohli.com
Maria 12 April, 2001 maria@sharapova.com
Serena 24 June, 1998 serena@williams.com
joe 1 May, 1997 Joe@root.com"""

In [47]:
doc= nlp(s)

In [48]:
# To Extract all the email.
emails=[]
for i in doc:
#    print(i)
    if i.like_email ==True:
        emails.append(i)

In [49]:
emails

[virat@kohli.com, maria@sharapova.com, serena@williams.com, Joe@root.com]

NLTK = Stemming and lemmatization
Spacy= Lemmatization

# Stemming

In [50]:
s= ["Eating","Eats","ate","eat","adjustable","ability","meeting"]

In [51]:
import nltk

In [52]:
from nltk.stem import PorterStemmer

In [53]:
stemmer= PorterStemmer()

In [54]:
stemmer.stem("eating")

'eat'

In [55]:
stemmer.stem("improved")

'improv'

In [56]:
 for i in s:
    print(i, " -- ",stemmer.stem(i))

Eating  --  eat
Eats  --  eat
ate  --  ate
eat  --  eat
adjustable  --  adjust
ability  --  abil
meeting  --  meet

# Lemmatization

In [59]:
# join all the words with space 
# As lemma takes complete string data 
new= " ".join(s)

In [60]:
new

'Eating Eats ate eat adjustable ability meeting'

In [61]:
doc= nlp(new)

In [62]:
doc

Eating Eats ate eat adjustable ability meeting

In [66]:
for i in doc:
    print(i, '-',i.lemma_)

Eating - eat
Eats - Eats
ate - eat
eat - eat
adjustable - adjustable
ability - ability
meeting - meeting

In [67]:
for i in doc:
    print(i, '-',i.lemma)

Eating - 9837207709914848172
Eats - 10099885286660899914
ate - 9837207709914848172
eat - 9837207709914848172
adjustable - 6033511944150694480
ability - 11565809527369121409
meeting - 14798207169164081740